img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height:450px;
}
html{
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
}
h1{
    color:rgb(163, 195, 203);
}
body{
    background-image: url("mc.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
} 
p{
 color: black;
}
 
.books{
    font-family: unset;
    font-weight: 100;
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 590px;
}
.para{
    text-align: center;
    size-adjust: 23px;

}
.para2{
    font-family:serif;
    color: firebrick;
    font-display: 90px;
    
}
.imge{
    display: inline;
    width: 40px;
    height:40px;
    margin-left: 12px;
    
}
nav{
    display:inline;
    margin-right: 700px;;
    margin-left: 700px;

}
@media only screen and (max-width: 768px) {

    html{
        font-size: 66%;
    }
    iframe{
        width:460px;
         height:215px;
    }
    .center{
        width: 150px;
        height: 150px;
    }
}